<nav class="navbar navbar-light navbar-expand-md" id="nav-bar">
    <div id="navbar-div" class="container-fluid">
        <a class="navbar-brand" id="nav-bar-text" href="#">Databases NodeJS Demo - <%= pageTitle %></a>
        <a id="navbar-items" href="/">
            <i class="fa fa-home "></i> Landing
        </a>
    </div>
</nav>